:root {
  --color-main-white: #FFFFFF;
  --color-main-background: #EBEEF3;
  --color-green: #52C41A;
  --color-red: #F5222D;
  --color-main-text: hsla(0, 0%, 0%, 0.75);
  --color-header-text: hsla(0, 0%, 0%, 0.85);
  --color-link-text: #1890FF;
  --color-secondary-text: hsla(0, 0%, 0%, 0.5);
}