@import '../../abstracts/variables.scss';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2rem 0 2.2rem;
  height: 8rem;
  background-color: var(--color-main-white);
}

.app-header__logo {
  text-decoration: none;
}

.app-header__logo__text {
  color: var(--color-header-text);
  font-size: 1.8rem;
}

.app-header__controls {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.app-header__control {
  padding: 0.6rem 1.8rem 1rem 1.8rem;
  color: var(--color-main-text);
  border: 1px solid var(--color-main-text);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.app-header__control__new-article {
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 0.6rem 1rem;
}

.app-header__control__profile {
  display: flex;
  align-items: center;  
  text-decoration: none;
  color: var(--color-header-text);
  gap: 1.3rem;
  &:visited {
    color: var(--color-header-text);
  }
}

.app-header__control--green {
  color: var(--color-green);
  border-color: var(--color-green);
}

.app-header__control:hover, .app-header__control--green:hover {
  opacity: 0.5;
}